@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 定义你的赛博红 */
  --cyber-red: #ff003c; 
  --cyber-black: #050505;
}

body {
  color: white;
  background: var(--cyber-black);
  font-family: Arial, Helvetica, sans-serif;
}